.body {
    background: #d8e1ea;
}

.form {
    background: rgb(245, 245, 245);
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
    padding-bottom: 60px;
    letter-spacing: 1px;
    color: #3D3D3D;
}

.form > * {
    margin-top: 50px;
}

.header {
    font-size: 2.2em;
    font-weight: 600;
    /* letter-spacing: 2px; */
}

.subTitle {
    font-size: 1.2em;
    font-weight: 600;
}