.question {
    margin-top: 100px;
    color: #3D3D3D;
    letter-spacing: 4px;
    font-size: 1.5em;
}

/* I don't like this: see 'verantwoordingsdocument -> ingredient picker' */
.question ul {
    text-align: center !important;
}

.buttonContainer {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 80px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
    justify-content: safe;
}

.ingredients {
    margin-bottom: 40px;
}